.signup {
  text-align: center;
  margin: 50px;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup input {
  margin: 10px;
  padding: 10px;
  width: 200px;
}
